<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

</head>

<body>
    <div class="head">
        <p>semantic analysis</p>
    </div>

    <div class="flex-container">
        <div class="boxes">
            <div class="boxvalue">

                <form method="post">
                    <label class="label" for="fname">Expression Checking :</label><br>
                    <textarea id="w3" rows="4" cols="50" name="text1" placeholder="type your text here..."></textarea>
                    <br>
                    {% if alert %}
                    <div class="alert alert-primary alerts" style="font-size: 20px;" role="alert">
                        I think You are <a href="#" class="alert-link">{{text1}}</a>. Give it a click if you like.
                    </div>
                    {% endif %}
                    <br>
                    <button type="submit" class="btn btn-secondary px-4 btn-lg">Submit</button>
                </form>


            </div>
        </div>


        <!-- <div>2</div> -->
        <!-- <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div> -->
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>